			<div class="panel panel-default">
			<div class="panel-body media">
				<a class="media-left" href="#">
					<img class="img-thumbnail-me" src="/img/img2.jpg" alt="Yezersky" style="width: 64px; height: 64px;">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Title</h4>
					Text
				</div>
				
			</div>
			</div>