<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>AVOS Cloud网站托管Demo</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
	
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
	<div class="row">
		<div class="span12">
			<div class="tabbable" id="tabs-702143">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#panel-104981" data-toggle="tab">第一部分</a>
					</li>
					<li>
						<a href="#panel-225055" data-toggle="tab">第二部分</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-104981">
						<p>
							第一部分内容.
						</p>
					</div>
					<div class="tab-pane" id="panel-225055">
						<p>
							第二部分内容.
						</p>
					</div>
				</div>
			</div>
			<div class="accordion" id="accordion-695983">
				<div class="accordion-group">
					<div class="accordion-heading">
						 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-695983" href="#accordion-element-546894">选项卡 #1</a>
					</div>
					<div id="accordion-element-546894" class="accordion-body collapse">
						<div class="accordion-inner">
							功能块...
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-695983" href="#accordion-element-519749">选项卡 #2</a>
					</div>
					<div id="accordion-element-519749" class="accordion-body in collapse">
						<div class="accordion-inner">
							功能块...
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>